
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&amp;display=swap');
:root { font-family: 'Inter', sans-serif;     font-feature-settings: 'cv03','cv04','cv11';}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
body{
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.wFormContainer {
    font-family: 'Inter', sans-serif;
    font-size: 13.6px;
    max-width: 656px;
}
.wFormContainer a,
.wFormContainer a:visited {
  text-decoration: none;
  color: #1f7bad;
}
.wFormContainer a:hover {
  text-decoration: underline;
  color: #1f7bad;
}
.wForm :link {
  text-decoration: none;
  color: #1f7bad;
}
.wFormContainer .htmlSection { 
  margin: 0 auto;
}
.wFormContainer .wForm {
    background:#fff url('https://static.classaction.org/images/media/bg-sweep-grid-green.png') no-repeat top center;
  color: #444;
  border: none; 
  border-radius: 0.5rem;
  padding: 0 !important;

  box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  margin-top: 1em;
}
.wFormContainer .wForm form {
    /* border-top:solid 5px #ff7f7f; */
/*  padding: 0 3rem 2rem 3rem; */
    padding: 0 0 1rem 0;
}
.wFormContainer .wForm form .htmlSection,
.wFormContainer .wForm form .oneField{
    padding: 0 5.5rem;
}
.wFormContainer .wForm form .field-container-D{
    border-bottom: solid 1px rgba(24,24,27,.05);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.errFld.field-container-D{
background:#fffaed;
}
.wFormContainer .wForm form .htmlSection p{
    margin: .5rem 0;
    line-height: 28px;
    font-size: 16px;
}
.wFormThankYou {
  padding: 20px 30px !important;
  min-height: 110px !important;
}
.wFormContainer .wFormHelp {
  padding: 20px 30px !important;
  min-height: 110px !important;
}
.reviewHeader,
.reviewResponse,
.reviewFooter {
  padding: 20px !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 0.15rem !important;
  margin-bottom: 20px !important;
  color: #444 !important;
}
.saveAndResume {
  font-size: 0.9em;
}
.required:not(.choices):not(select):not(.wfAutosuggest){
    font-family: 'Inter' !important;
    color: #222 !important;
    border: 1px solid #949494 !important;

    box-sizing: border-box;
    font-size: 1em !important;
    width: 20em!important;
    background-color: #fff !important;
    padding: 0 0.5rem !important;
    border-radius: 0.375rem!important;
border-color: rgb(209 213 219 / 1)!important;
box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.saveAndResume input[type="text"],
.saveAndResume input[type="password"]{
    font-family: 'Inter' !important;
  color: #222 !important;
  border: 1px solid #949494 !important;
  border-radius: 0.15rem !important;
  box-sizing: border-box;
  font-size: 1em !important;
  width: 20em;
  background-color: #fff !important;
  padding: 0 0.5rem !important;
}
.saveAndResume input[type="text"],
.saveAndResume input[type="password"],
input[type="text"].validate-email,
input[type="password"]#password {
  height: 35px !important;
}
.saveAndResume input[type="text"]:focus,
.saveAndResume input[type="password"]:focus,
input[type="text"].validate-email:focus,
input[type="password"]#password:focus {
  outline-style: none;
  border: 2px solid #949494 !important;
  color: #222;
}
input.primaryAction.slds-button.slds-button--brand.full-width {
  margin-top: 0 !important;
}
.reviewActions {
  margin-top: 1.6em !important;
}
#wFormResumePage legend,
#responsePasswordResetform legend {
  font-size: 16px !important;
  color: #444 !important;
  font-family: 'Inter' !important;
  margin-bottom: 20px;
  font-weight: 900;
}
.wForm .fa-search.tt-search,
.wForm .fa-spinner.tt-spinner,
.wForm .fa-times-circle.tt-clear {
  color: #222;
}
.wFormWebPage {
    background: #f8fafc url('https://static.classaction.org/images/media/bg-grid-large-gray.png') no-repeat top center;
}
@media only screen and (max-width: 600px) {
  .wFormWebPage {
    margin: 0 !important;
  }
  .wFormWebPage .wForm {
    border-radius: 0;
    padding: 0 !important;
  }
  .wFormWebPage .wForm form {
    padding: 0 1rem 2rem 1rem;
  }
}
#preview .mobile form {
  padding: 0 1rem 2rem 1rem;
}
.wFormContainer .wFormHeader {
    /* padding: 5px 17px;
    height: 100%; */
    margin:1.8em 0;
}
@media only screen and (max-width: 600px) {
  .wFormContainer{
    padding: 1rem;
  }
  .wFormContainer .wFormHeader {
    margin: 1em 2em;
  }
  .wFormContainer .wForm form .htmlSection, 
  .wFormContainer .wForm form .oneField {
    padding: 0.5rem 1rem;
  }

}
.wFormContainer .wForm {
  display: flex;
  flex-direction: column;
}
.wFormContainer .wForm .wFormTitle {
    font-family: 'Inter';
  padding: 1.5rem 3rem !important;
  margin: 0;
  font-size: 22px;
  background-color: #1f7bad;
  background: linear-gradient(to bottom, #1f7baddd 30%, #1f7bad 100%);
  color: #fff;
}
.wFormContainer .wForm .section.pageSection &gt; h4,
.wFormContainer .wForm .section.pageSection &gt; h3
{
    font-size: 16px;
    color: rgb(51, 65, 85);
    font-family: 'Inter';
    line-height: 1.8rem;
  }
  .wFormContainer .wForm .htmlSection h4,
  .wFormContainer .wForm .htmlSection h3 {
    font-size: 16px;
    color: rgb(51, 65, 85);
    font-family: 'Inter';
    line-height: 1.8rem;
  }
  
  .wFormContainer .wForm .section.pageSection &gt; h3,
  .wFormContainer .wForm .htmlSection h3 {
    margin: 0;
    margin-top: .5rem;
    font-weight: 700;
    letter-spacing: -.025em;
    color: rgb(17 24 39 / 1);
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .wFormContainer .wForm .htmlContent &gt; h3 {
    margin-top: 30px;
  }
.wForm div.section &gt; .preField {
  font-size: 16px !important;
  color: rgb(51, 65, 85) !important;
  font-family: 'Inter' !important;
}
@media only screen and (max-width: 600px) {
  .wFormContainer .wForm .wFormTitle {
    margin: 0;
  }
  .wFormContainer .wForm .wFormTitle {
    padding: 1rem !important;
  }
}
#preview .mobile .wFormTitle {
  padding: 1rem !important;
}
.wFormContainer .wForm #wfTabNav {
  padding: 1.6em 3rem;
  font-size: 0.9em;
}
.wFormContainer .wfTab {
  margin: 0 1px;
  width: 1.5em;
  line-height: 1.5em;
  background-color: #fff;
  border-radius: 0.15rem;
  color: #1f7bad;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  border: 1px solid #1f7bad;
}
.wFormContainer .wfTab:hover {
  margin: 0 1px;
  background-color: #1f7bad;
  border-radius: 0.15rem;
  color: #fff;
  text-align: center;
  opacity: 1;
  text-decoration: none;
  transition: all 0.25s linear;
}
.wFormContainer .wfTabSep {
  display: none;
}
.wFormContainer .wfTab.wfTabCurrentPage {
  font-weight: 700;
  background-color: #1f7bad;
  color: #fff;
  opacity: 1;
}
.wFormContainer .wfTab.wfHiddenTab,
.wFormContainer .wfTab.wfHiddenTab:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#preview .mobile .wfTabNav {
  padding: 1rem 1rem 0 1rem;
  font-size: 12px;
}
#preview .mobile .wTab,
#preview .mobile .wTab:hover {
  margin: 0 0.1em 0.2em 0.1em;
  padding: 5px 5px;
}
.wFormContainer fieldset {
  margin: 1em 0 0.5em 0;
  color: #444 !important;
  border: solid 1px #dcddde !important;
  border-radius: 0.15rem;
}
.wFormContainer fieldset.highlighted {
  border: solid 2px #dcddde !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
.wFormContainer fieldset legend {
  font-size: 16px !important;
  color: #444 !important;
  font-family: 'Inter' !important;
}
.wFormContainer .group &gt; .label {
  margin-top: 1em;
  color: #444;
}

.htmlSection .htmlContent,
.htmlSection .htmlContent span {
  color: rgb(51, 65, 85) !important;
  font-family: 'Inter' !important;
  font-size: 100% !important;
  line-height: auto;
}
.wFormContainer fieldset &gt; fieldset:last-child {
  margin-bottom: 0;
  color: #444;
}
.wFormContainer .pageSection &gt; *:not([type="hidden"]):last-child {
  margin-bottom: 0;
  color: #444;
}
.wFormContainer table.matrixLayout thead tr.headerRow,
.wFormContainer table.gridLayout thead tr.headerRow {
  background-color: rgba(0, 0, 0, 0);
}
.wFormContainer table.matrixLayout thead tr.headerRow th,
.wFormContainer table.gridLayout thead tr.headerRow th {
  padding: 0.25em;
  vertical-align: center;
  color: #444 !important;
}
.wFormContainer table.matrixLayout tbody tr th.headerCol,
.wFormContainer table.gridLayout tbody tr th.headerCol {
  color: #444 !important;
}
.wFormContainer table.matrixLayout tbody tr:nth-child(odd),
.wFormContainer table.gridLayout tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}
.wFormContainer table.matrixLayout tbody tr:nth-child(even),
.wFormContainer table.gridLayout tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}
.wFormContainer table.matrixLayout tbody td,
.wFormContainer table.gridLayout tbody td {
  padding: 0.25em;
}
.wForm .gridLayout .headerCol {
  vertical-align: middle !important;
  padding: 9px 0 !important;
}
#preview .wFormContainer table.matrixLayout tbody tr:nth-child(n),
#preview .wFormContainer table.gridLayout tbody tr:nth-child(n) {
  background-color: rgba(0, 0, 0, 0.04);
}
#preview .wFormContainer table.matrixLayout tbody tr:nth-child(4n),
#preview .wFormContainer table.gridLayout tbody tr:nth-child(4n) {
  background-color: rgba(0, 0, 0, 0.025);
}
table {
  font-size: 13.6px;
}
.wForm .gridLayout.stacked {
  margin: 20px 0;
}
.wForm .gridLayout.stacked tr {
  margin: 10px 1rem 10px 0;
  padding: 10px auto;
  width: 92.5%;
}
.wForm .gridLayout.stacked tr td {
  height: auto !important;
}
.wForm .gridLayout.stacked tr td input[type="text"] {
  max-width: 90%;
}
#preview .mobile .matrixLayout,
#preview .mobile .gridLayout {
  margin: 20px 0 !important;
}
.wFormContainer .label {
  font-weight: 400;
  font-family: 'Inter';
  color: #444;
  padding-bottom: 4px;
}
.wFormContainer .label.preField {
  line-height: 1.5rem;
  color: #444;
}
.wFormContainer .oneChoice {
  margin-bottom: 4px !important;
  padding: 0.2em 0;
}
.wFormContainer .oneChoice .label.postField {
  vertical-align: middle !important;
  color: #444;
}
.wFormContainer .reqMark{
    position: relative;
}
.wFormContainer .reqMark:before {
    position: absolute;
    left:-20px;
    content: '*';
  color: #f00024;
}
.wFormContainer .reqMark:after{
    content: '';
}

.oneField .label span {
  color: #191314 !important;
  font-family: 'Inter' !important;
  font-size: 100% !important;
}
.wFormContainer .wForm .inputWrapper input[type="text"],
.wFormContainer .wForm .inputWrapper input[type="password"],
.wFormContainer .wForm .inputWrapper select,
.wFormContainer .wForm .inputWrapper textarea {
    font-family: 'Inter';
  color: #222;

  border-style: solid;
    

  margin: 0;
  appearance: none;
  background-color: #fff;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border-color: rgb(209 213 219 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000,  0 1px 2px 0 rgb(0 0 0 / 0.05);
}


.wFormContainer .wForm .inputWrapper input[type="text"],
.wFormContainer .wForm .inputWrapper input[type="password"],
.wFormContainer .wForm .inputWrapper select:not([multiple]) {
  height: 35px;
  padding: 0 0.5rem;
}
.wFormContainer .wForm .inputWrapper select[multiple] {
  width: auto;
}
.wFormContainer .wForm .inputWrapper input[type="file"] {
  height: 35px;
  padding: 0 0.5rem 0 0 !important;
  border: none !important;
  background: transparent !important;
  font-size: 13.6px !important;
  font-family: 'Inter' !important;
  color: #444 !important;
}
.wFormContainer .wForm .inputWrapper textarea {
  height: 5em;
  padding: 0.5rem !important;
}
.wFormContainer .wForm .inputWrapper select option {
  padding: 0.25em 8px;
    font-family: 'Inter';
}
.wFormContainer
  .wForm
  .inputWrapper
  input:not([type="file"]):not(.tt-hint):read-only,
.wFormContainer .wForm .inputWrapper textarea:read-only {
    font-family: 'Inter';
  background-color: #fff !important;
  border: 1px solid #bbb !important;
  color: #444 !important;
}
.wFormContainer
  .wForm
  .inputWrapper
  input:not([type="file"]):not(.tt-hint):-moz-read-only,
.wFormContainer .wForm .inputWrapper textarea:-moz-read-only {
    font-family: 'Inter';
  background-color: #fff !important;
  border: 1px solid #bbb !important;
  color: #444 !important;
}
.wFormContainer .wForm .inputWrapper textarea:focus,
.wFormContainer .wForm .inputWrapper textarea.required:focus,
.wFormContainer .wForm .inputWrapper input[type="text"]:focus,
.wFormContainer .wForm .inputWrapper input[type="text"].required:focus,
.wFormContainer .wForm .inputWrapper input[type="password"]:focus,
.wFormContainer .wForm .inputWrapper input[type="password"].required:focus,
.wFormContainer .wForm .inputWrapper select:focus,
.wFormContainer .wForm .inputWrapper select.required:focus {
  outline-style: none;
  border: 1px solid #000 !important;
  color: #222;
}
.wFormContainer .wForm .inputWrapper textarea.required:not(readonly):focus {
  border: 1px solid #bbb !important;
}
.wFormContainer .wForm .inputWrapper .oneChoice input[type="checkbox"],
.wFormContainer .wForm .inputWrapper .oneChoice input[type="radio"] {
  height: initial;
  margin-bottom: 5px;
}
label.tfa_esig_typeCheckbox {
  padding-top: 5px;
}
.wFormContainer .wForm .inputWrapper .oneChoice .label {
  margin-left: 5px;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .wFormContainer .wForm .inputWrapper select[multiple] {
    width: auto;
    -webkit-appearance: none;
    height: 45px;
  }
}
.wFormContainer .field-hint-inactive,
.wFormContainer .field-hint {
  line-height: 100%;
  font-size: 1em;
}
.wFormContainer .field-hint-inactive .hint {
  font-size: 0.75em;
  line-height: 1.75em;
  transition: all 0.25s linear;
}
.wFormContainer .field-hint .hint {
  font-size: 0.75em;
  line-height: 1.75em;
  transition: all 0.25s linear;
}
.wFormContainer .lengthIndicator,
.wFormContainer .count-words {
  font-size: 0.75em;
  margin-top: 1px;
  color: #444;
}
#preview #render .wForm .oneField.hintsTooltip .field-hint {
  background-color: #fff !important;
  padding: 0.3em;
}
.wForm .hintsTooltip .hint {
  color: #222 !important;
  background-color: transparent !important;
}
.wForm .field-hint-inactive .hint {
  background-color: #fff !important;
  color: #444 !important;
  opacity: 0.5 !important;
}
.wForm .hintsBelow .field-hint,
.wform .hintsSide .field-hint {
  background-color: #fff !important;
  color: #444 !important;
  opacity: 1 !important;
}
.wFormContainer .wfAutosuggest.tt-hint {
  margin-top: 0;
}
.wFormContainer .wfAutosuggest.tt-input {
  background-color: #fff !important;
}
.wFormContainer .tt-spinner {
  top: 0.6rem;
  right: 0.25rem;
}
.tt-menu {
  background-color: #fff !important;
  color: #222 !important;
}
.tt-suggestion {
    font-family: 'Inter' !important;
  font-size: 13.6px !important;
  color: #222 !important;
}
html .kalendae {
  background: #fff;
  border: 2px solid #949494 !important;
  font-size: 0.85em;
  font-family: 'Inter';
  border-radius: 0;
  padding: 1rem;
}
html .kalendae .k-calendar {
  width: 14em;
}
html .kalendae .k-calendar .k-header span,
html .kalendae .k-calendar .k-days span {
  width: calc(2em - 2px) !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  box-sizing: border-box !important;
}
html .kalendae .k-calendar .k-title,
html .kalendae .k-calendar .k-header,
html .kalendae .k-calendar .k-days {
  width: 100%;
  height: auto;
  margin: 0;
  color: #444;
}
html .kalendae .k-calendar .k-header span,
html .kalendae .k-calendar .k-days span {
  height: 25px !important;
  line-height: inherit;
  text-align: right;
  padding: 2px 0.25em 5px 2px !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  margin-bottom: 2px !important;
}
html .kalendae .k-calendar .k-btn-close:hover {
  color: #444;
  border-color: #fff;
}
html .kalendae .k-calendar .k-caption {
  font-size: 0.85em;
  color: #444;
}
html .kalendae .k-calendar .k-btn-previous-month,
html .kalendae .k-calendar .k-btn-next-month,
html .kalendae .k-calendar .k-btn-previous-year,
html .kalendae .k-calendar .k-btn-next-year {
  color: #444;
  line-height: normal;
  height: auto;
  font-size: 1.4em;
  font-weight: 400;
}
html .kalendae .k-calendar .k-btn-previous-month:hover,
html .kalendae .k-calendar .k-btn-next-month:hover,
html .kalendae .k-calendar .k-btn-previous-year:hover,
html .kalendae .k-calendar .k-btn-next-year:hover {
  color: #444;
  font-weight: 700;
}
html .kalendae .k-calendar .k-header span {
  color: #444;
  margin: 5px auto;
}
html .kalendae .k-calendar .k-days span.k-in-month.k-active {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #1f7bad;
  height: auto;
  padding-top: 0;
  margin-bottom: 0;
  opacity: 0.7;
}
html .kalendae .k-calendar .k-days span.k-in-month {
  color: #444;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: auto;
  padding-top: 0;
  margin-bottom: 0;
  opacity: 0.7;
}
html .kalendae .k-calendar .k-days span.k-out-of-month {
  color: #444;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  padding-top: 0;
  margin-bottom: 0;
  opacity: 0.5;
}
html .kalendae .k-calendar .k-days span.k-selected.k-active {
  background: #1f7bad;
  color: #fff;
  opacity: 1;
}
html .kalendae .k-calendar .k-days span.k-active:hover {
  border-color: #949494;
  opacity: 1;
}
.wFormContainer .oneField.errFld .inputWrapper input[type="text"],
.wFormContainer .oneField.errFld .inputWrapper input[type="password"],
.wFormContainer .oneField.errFld .inputWrapper textarea,
.wFormContainer .oneField.errFld .inputWrapper select {
  border-color: #f00024 !important;
}
.wFormContainer .oneField.errFld .inputWrapper input[type="text"].required {
  border-color: #f00024;
}
.wFormContainer .oneField.errFld div.errMsg {
  margin-top: 0.5em;
  color: #f00024;
}
.wfTab.wfTabCurrentPage.errMsg,
.wfTab.errMsg {
  border: 1px solid #f00024 !important;
}
.wfTab.wfTabCurrentPage.errMsg,
.wfTab.errMsg:hover {
  background-color: #f00024;
  color: #fff !important;
}
.wfTab.errMsg {
  background-color: #fff;
  color: #f00024;
}
.errorMessage {
  color: #f00024 !important;
}
a.errMsg {
  color: #f00024;
  text-decoration: underline;
}
.wFormContainer .errMsg {
  color: #f00024 !important;
}
.wFormContainer .actions {
  margin-top: 0;
}
.wFormContainer .actions .primaryAction {
  background-color: #4f46e5;
  color: #fff;
  margin-top: 1.6em;
  padding: 1rem 2.5rem;
  border: none;
  font-size: 13.6px;
  font-weight: 700;
  font-family: 'Inter';
  -webkit-appearance: none;
  border-radius:0.375rem;
}
.wFormContainer .actions .primaryAction:hover {
  background-color: #6365f1;
  color: #fff;
}
.wFormContainer .actions .primaryAction:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;

  cursor: not-allowed;
}
.wFormContainer .wfPagingButtons {
  margin-top: 0;
}
.wFormContainer .wfPagingButtons .wfPageNextButton,
.wFormContainer .wfPagingButtons .wfPagePreviousButton {
  background-color: #2563eb;
  color: #fff;
  margin-top: 1.6em;
  padding: .8rem 1.5rem;
  border: none;
  font-size: 13.6px;
  font-family: 'Inter';
  -webkit-appearance: none;
  border-radius: 0.375rem;
}
.wFormContainer .wfPagingButtons .wfPageNextButton{
  font-weight: 700;
}
.wFormContainer .wfPagingButtons .wfPagePreviousButton {
  background-color: #f5f5f5;
  color: #4d4d4d;
}
.wFormContainer .wfPagingButtons .wfPageNextButton:hover {
  background-color: #3c82f6;
  color: #fff;
}
.wFormContainer .wfPagingButtons .wfPagePreviousButton:hover {
  background-color: #949494;
  color: #dbd7d7;
}
.wFormContainer .wForm .inputWrapper .oneChoice .label{
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .wFormContainer .actions .primaryAction,
  .wFormContainer .wfPagingButtons .wfPageNextButton,
  .wFormContainer .wfPagingButtons .wfPagePreviousButton {
    min-width: 150px;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 1rem;
  }
  .wFormContainer .actions .primaryAction{
    padding: 1rem 2.5rem;
  }
}
#preview .mobile .primaryAction,
#preview .mobile .wfPageNextButton,
#preview .mobile .wfPagePreviousButton {
  min-width: 150px;
  font-size: 16px;
  padding: 6.8px 20px;
}
/* .wFormContainer .wfPagingButtons #wfPageNextId1.wfPageNextButton,
.wFormContainer .wfPagingButtons .wfPagePreviousButton{
  margin-left: 5.5rem;
} */
.wForm form .wfPagingButtons {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  display: flex;
  float:none;
  position: relative;
  gap: 50px;
}
.wFormContainer #wfPgIndex-1-buttons.wfPagingButtons {
  justify-content: left!important;
}
.wForm .actions.multipage {
  display: block;
  text-align: center;
  width: auto;
  margin-bottom:1rem;
}
.wFormContainer .supportInfo{
    padding: 5px 17px;
}
.wFormContainer .wFormFooter .supportInfo {
  text-align: center;
}
.wFormContainer .wFormFooter .supportInfo a {
  color: #1f7bad;
  text-decoration: none;
}
.wFormContainer .wFormFooter .supportInfo a:hover {
  color: #1f7bad;
  text-decoration: underline;
}
.wFormContainer .oneField,
.wFormContainer .section {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.wForm .wfPagePreviousButton, .wForm .wfPageNextButton {
  margin-right: 0;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .wForm form .wfPagingButtons {
    flex-direction: column-reverse;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    gap: 0px;
  }
  .wFormContainer #wfPgIndex-1-buttons.wfPagingButtons {
    justify-content: center!important;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wFormContainer .wForm .removeSpan {
  display: block;
  float: none;
  text-align: right;
}
.wFormContainer .wForm td .removeSpan {
  display: inline;
  float: right;
  text-align: inherit;
}

.contentbox{
    padding:1rem 0!important;
    max-width: 32rem;
}
.contentbox p{
    margin: 0;
    margin-top: 1rem!important;
    font-size: 1rem!important;
    line-height: 1.7rem!important;

    color: rgb(55 65 81 / 1);
}
.borderbox{
    border: 1px #f2f2f2 solid;
    border-radius: 8px;
}
.borderbox p{
    font-size:14px!important;
}
.fill-gray-50 {
    fill: #f9fafb;
}
.overflow-visible {
    overflow: visible;
}
#tfaContent,.wFormContainer, body{
    position: relative;
}


.callout, .errMsg{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    max-width: 50rem;
    margin-left: calc(50% - min(50%, 33rem))!important;
    margin-right: calc(50% - min(50%, 33rem))!important;
    margin-top: 0.75rem!important;
    margin-bottom: 0.75rem!important;
    display: flex;
    gap: .625rem;
    border-radius: 1rem;
    border-width: 1px;
    padding: 1rem!important;
    line-height: 1.5rem;
}
.errMsg{
    border-color: #f87171;
    background-color:#fef2f2;
    color: #991a1b;
    border-radius: 7px;
}
.errMsg span{
    color:#b91c1c!important;
}
.callout-green{
  border-color: rgba(16,185,129,.2);
  background-color: rgba(236,253,245,.5);
  color: rgb(6 78 59/1);
  box-shadow: 0 10px 10px #f0f0f052;
}
.callout-yellow{
  border-color: rgba(185, 127, 16, 0.2);
  background-color: rgba(253, 248, 236, 0.5);
  color: rgb(89, 50, 9);
  box-shadow: 0 10px 10px #f0f0f052;
}
.callout p{
    font-size: .875rem!important;
    line-height: 1.5rem!important;
}
.devbox{
    position: absolute;
}
.oneChoice label.label.postField:hover, .oneChoice input[type="radio"]:hover{
  cursor: pointer;
  color: #000;
}

.allignedSigBtns{
  display: block!important;
  float: none!important;
  width: auto!important;
  text-align: center!important;
}
